# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://anon_bot:anon_bot@localhost:5432/anonbot"
# DATABASE_URL="postgres://zbokgnwp:Dtvz-teM3JDRa2UT5Wi9q9yfm99SXf7n@satao.db.elephantsql.com/zbokgnwp"
# DATABASE_URL="postgresql://gagassurya19:nsI4j7KbxAfo@ep-aged-firefly-56876419.ap-southeast-1.aws.neon.tech/anonbot?sslmode=require"

# TELEGRAM
# TELEGRAM_BOT_TOKEN=6924620045:AAEmKwFWgwrjjG7CoNXi-97Wqx06SOXVeBE
TELEGRAM_BOT_TOKEN=6705851529:AAEnT2KeDyEzmrhaRbx8iBoM8ohYgJtITqY
TELEGRAM_WHITE_LIST_USER_ID=1903705569,6241543279

LOG_LEVEL=debug
LOG_MIDDLEWARE_LIVE=true
NODE_ENV=development

```